.THIS.tosModal .slds-modal__container {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.THIS.tosModal .slds-modal__container iframe {
    height: calc(100vh - 125px);
	border: none;
}