.THIS {
}

.THIS .manageampsale .dripcampaign .amptype {
    width: 135px;
    height: 165px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #80803b;
    position: relative;
    background: linear-gradient(to bottom, #f0eeeb 0%, white 100%);
    box-shadow: 1px 1px 3px #8080b8;
}
.THIS .manageampsale .dripcampaign{
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
}
.THIS .manageampsale .dripcampaign .amptype:hover {
    background: linear-gradient(to bottom, #f49827 0%, #ff97663d 100%);
    box-shadow: 3px 3px 5px #8080b8;
}
.THIS .manageampsale .dripcampaign .amptypetext {
    width: 105px;
    height: 80px;
    background: white;
    margin: 0 auto;
    line-height: 15px;
    padding: 5px;
    padding-top: 30px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-word;
}
.THIS .manageampsale .dripcampaign .amptypeimg{
    width: 45px;
    height: 45px;
    background: #b3c9e6;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
.THIS .manageampsale .dripcampaign .amptypeimg .imgcolor .slds-icon-text-default{
    fill: #1f9ac5;
}
.THIS .manageampsale .dripcampaign .amptypeimg .imgcolor{
    padding: 6px;
}