.THIS .slds-icon-custom-custom102{
    background-color:white !important;
}
.THIS .slds-icon-custom-custom102 svg{
    fill:#1c6b94 !important;
}

.THIS .annualtarget .iconcolor .slds-icon-text-default {
    fill: var(--mainnavbgcolor) !important;
    padding-left: 1px;
    border-bottom: 2px solid var(--mainnavbgcolor);
    border-left: 2px solid var(--mainnavbgcolor);
}
.THIS .annualtarget .settingiconcolor .slds-icon-text-default {
    fill: var(--mainnavbgcolor) !important;
    padding-left: 1px;
}
.THIS .annualtarget .slds-button--icon-border{
    border:none !important;
    color:var(--mainnavfontcolor);
}
.THIS .annualtarget .slds-select_container:after {
    border-top: none; 
    bottom: 0px;
}
.THIS .annualtarget .slds-select_container:before {
    transform:rotate(180deg);
    margin-top:3px;
    border-bottom: 5px solid var(--mainnavfontcolor) !important;
}
.THIS .annualtarget #categoryPicklist option
{
    background:white;
    color: #333;
    border: 1px solid gray;
}
.THIS .annualtarget #categoryPicklist option:hover{
    text-decoration: none;
    color: #fff;
    background-color: #3276b1;
}
.THIS .annualtarget .slds-tabs_default__item.slds-active:after{
    background-color:rgb(221, 219, 218);
}
.THIS .annualtarget .slds-tabs--default__item:hover:after{
    background-color:rgb(221, 219, 218);
    margin-bottom:-1px;
}
.THIS .annualtarget .slds-select
{
    background-color:var(--mainnavbgcolor) !important;
    color:var(--mainnavfontcolor);
    height: 24px;
    line-height: 15px;
    border-radius: 0px;
    cursor:pointer;
}
.THIS .annualtarget .slds-select option
{
    background: var(--mainnavbgcolor) !important;
}


.THIS .annualtarget .slds-spinner:before{
    background: black !important;
}
.THIS .annualtarget .slds-spinner__dot-a:before{
    background: black !important;
}
.THIS .annualtarget .slds-spinner__dot-b:before{
    background: black !important;
}
.THIS .annualtarget .slds-spinner__dot-b:after{
    background: black !important;
}
.THIS .annualtarget .slds-spinner__dot-a:after{
    background: black !important;
}
.THIS .annualtarget .slds-spinner:after{
    background: black !important;
}
.THIS .annualtarget .spinpos{
    position: absolute;
    top: 30px;
    left: 25px;
}
.THIS .annualtarget .divspinner{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background:white !important;
}
.THIS .tosModal .slds-modal__container {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.THIS .tosModal .slds-modal__container iframe {
    height: calc(100vh - 125px);}