.THIS {
}
.THIS .APIDetails, .THIS .NonSSODetails {
    background-color: #fff;
    padding: 20px 14px 14px;
    border-radius: 0;
    margin-top: -1px;
}

.THIS .APIDetails > .slds-form-element {
    margin-bottom: 14px;
}

.THIS {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px 20px;
    border-radius: 6px;
}

.THIS .slds-button_neutral {
    margin-top: 10px;
}
.THIS h2{
        font-size: 20px;
    margin-bottom: 14px;
}

.THIS .slds-form-element__label{
        font-size: 16px;
    margin-bottom: 10px;
}
.THIS .slds-dueling-list__column_responsive {
    flex: 0 1 19rem;
}
.THIS .slds-dueling-list__column_responsive .slds-dueling-list__options {
    max-width: 100%;
}
.THIS .slds-form-element__label.slds-form-element__legend{
    font-size: 12px;
    margin-bottom: 0;
    
}

.THIS .slds-dueling-list__column .slds-button:first-of-type {
    margin-top: 4.5rem;
}
.MindMatrixAMPAPISettings .popover {
    position: absolute;
    left: 34%;
    top: 0%;
}
.THIS .form-box{
    width:100%;
    margin-bottom:15px;
}
.THIS .form-box .forminput-box{
    width:45%;
    display:inline-block;
}
.THIS .form-box .mathematic-sign{
    width:4%;
    display:inline-block;
    text-align:center;
}
.THIS.exampleHolder{
  position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}